<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel = 'stylesheet' type="text/css" href= "../static/style.css"/>
    <link rel = 'stylesheet' type="text/css" href= "../static/style1.css"/>
    <link rel = 'stylesheet' type="text/css" href= "../static/table_design.css"/>
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="{{ url_for('static', filename='logo.png') }}" alt="Rishabh's Food Court Logo">
        </div>
        <div class="home-icon">
            <a href = "http://127.0.0.1:5000/">
            <img src="{{ url_for('static', filename='home-icon.png') }}" alt="Home" >
            </a>
        </div>
    </header>

    <video id="background-video" autoplay loop muted>
        <source src="../static/food1.mp4" type="video/mp4">
    </video>

    <main>
        {% block content %}
        {% endblock %}
        <br>
        {% block remaining %}
        {% endblock %}
    </main>

    <footer>
        <div class="container1">
        <p class="right">&copy; 2024 Rishabh's Food Court.</p>
    </div>
    </footer>
</body>
</html>
